#index{ style: "text-align: center;" }
  #search.form.form-search
    .input-append{ style: "width: 60%;" }
      %input#search_input.search-query.input-block-level{ type: "text", autocomplete: "Off" }
      %span.add-on{ style: "border-radius: 0 14px 14px 0;" }
        %i.icon.icon-search
  
  #search_results
    %ul
  
  %ul
    - @pages.each do |page_group|
      - if page_group.size == 1
        = render "page", page: page_group.first
      - else
        = render "page_group", page_group: page_group
  
          
      

  